
.buildpath
.project
.settings/
.sass-cache/
wp-content/themes/*/.sass-cache/

*.log
wp-config-local.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt
/wp-config-local.php
